<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partials/header') %>
        <div class="container">
            <h2>Login</h2>
            <% if (error) { %>
                <div style="color:red;">
                    <%= error %>
                </div>
                <% } %>
                    <form method="POST" action="/login">
                        <label>Email:</label><input type="email" name="email" required><br>
                        <label>Password:</label><input type="password" name="password" required><br>
                        <button type="submit">Login</button>
                    </form>
                    <div class="note">Don't have an account? <a href="/register">Register</a></div>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>