<center>
    <footer>
        &copy; 2025 TaskSwift. All rights reserved. &nbsp; | &nbsp; <a href="#"
            style="color:#1f787e;text-decoration:underline;">Contact Us</a>
    </footer>
</center>